# =============================================================================
# RouterOS v7 Configuration Template: AWS MikroTik CHR ("chr-peering")
# Dual-NIC Cloud-Native NVA on Amazon Web Services (ap-southeast-1)
# 4-Node Multi-Cloud Full Mesh (AWS, Alibaba, GCP, Azure)
# =============================================================================

/system/identity/set name=aws-chr-peering

# 1. IPsec Proposals & Profiles
/ip/ipsec/profile/add name=ali dh-group=modp2048 enc-algorithm=aes-256 hash-algorithm=sha256 lifetime=8h nat-traversal=yes dpd-interval=8s dpd-maximum-failures=4
/ip/ipsec/proposal/add name=ali auth-algorithms="" enc-algorithms=aes-256-gcm lifetime=1h pfs-group=modp2048

/ip/ipsec/profile/add name=gcp dh-group=modp2048 enc-algorithm=aes-256 hash-algorithm=sha256 lifetime=8h nat-traversal=yes dpd-interval=8s dpd-maximum-failures=4
/ip/ipsec/proposal/add name=gcp auth-algorithms="" enc-algorithms=aes-256-gcm lifetime=1h pfs-group=modp2048

/ip/ipsec/profile/add name=azure dh-group=modp2048 enc-algorithm=aes-256 hash-algorithm=sha256 lifetime=8h nat-traversal=yes dpd-interval=8s dpd-maximum-failures=4
/ip/ipsec/proposal/add name=azure auth-algorithms="" enc-algorithms=aes-256-gcm lifetime=1h pfs-group=modp2048

# 2. IPsec Peers & Identities
/ip/ipsec/peer/add name=ali address=__ALI_PUBLIC_IP__/32 local-address=__AWS_PEERING_IP__ profile=ali exchange-mode=ike2 send-initial-contact=yes
/ip/ipsec/identity/add peer=ali auth-method=pre-shared-key secret="__IPSEC_PSK_AWS_ALI__" remote-id=ignore generate-policy=no

/ip/ipsec/peer/add name=gcp address=__GCP_PUBLIC_IP__/32 local-address=__AWS_PEERING_IP__ profile=gcp exchange-mode=ike2 send-initial-contact=yes
/ip/ipsec/identity/add peer=gcp auth-method=pre-shared-key secret="__IPSEC_PSK_AWS_GCP__" remote-id=ignore generate-policy=no

/ip/ipsec/peer/add name=azure address=__AZURE_PUBLIC_IP__/32 local-address=__AWS_PEERING_IP__ profile=azure exchange-mode=ike2 send-initial-contact=yes
/ip/ipsec/identity/add peer=azure auth-method=pre-shared-key secret="__IPSEC_PSK_AWS_AZURE__" remote-id=ignore generate-policy=no

# 3. IPsec Policies
/ip/ipsec/policy/add peer=ali tunnel=yes src-address=__AWS_PEERING_IP__/32 dst-address=__ALI_PEERING_IP__/32 protocol=gre action=encrypt proposal=ali
/ip/ipsec/policy/add peer=gcp tunnel=yes src-address=__AWS_PEERING_IP__/32 dst-address=__GCP_PEERING_IP__/32 protocol=gre action=encrypt proposal=gcp
/ip/ipsec/policy/add peer=azure tunnel=yes src-address=__AWS_PEERING_IP__/32 dst-address=__AZURE_PEERING_IP__/32 protocol=gre action=encrypt proposal=azure

# 4. GRE Interfaces & Addressing
/interface/gre/add name=gre-ali mtu=__TUNNEL_MTU__ local-address=__AWS_PEERING_IP__ remote-address=__ALI_PEERING_IP__ clamp-tcp-mss=yes dont-fragment=no allow-fast-path=no
/interface/gre/add name=gre-gcp mtu=__TUNNEL_MTU__ local-address=__AWS_PEERING_IP__ remote-address=__GCP_PEERING_IP__ clamp-tcp-mss=yes dont-fragment=no allow-fast-path=no
/interface/gre/add name=gre-azure mtu=__TUNNEL_MTU__ local-address=__AWS_PEERING_IP__ remote-address=__AZURE_PEERING_IP__ clamp-tcp-mss=yes dont-fragment=no allow-fast-path=no

/ip/address/add address=__AWS_ALI_TUNNEL_AWS_IP__/30 network=__AWS_ALI_TUNNEL_NETWORK__ interface=gre-ali
/ip/address/add address=__AWS_GCP_TUNNEL_AWS_IP__/30 network=__AWS_GCP_TUNNEL_NETWORK__ interface=gre-gcp
/ip/address/add address=__AWS_AZURE_TUNNEL_AWS_IP__/30 network=__AWS_AZURE_TUNNEL_NETWORK__ interface=gre-azure

# 5. Address Lists & Static Anchor Routes
/ip/firewall/address-list/add list=aws-advertise address=__AWS_SUPERNET__ comment="prefix advertised to peers"
/ip/firewall/address-list/add list=aws-advertise address=__ALI_SUPERNET__ comment="ali-transit"
/ip/firewall/address-list/add list=aws-advertise address=__GCP_SUPERNET__ comment="gcp-transit"
/ip/firewall/address-list/add list=aws-advertise address=__AZURE_SUPERNET__ comment="azure-transit"

/ip/firewall/address-list/add list=cloud address=__ALI_SUPERNET__ comment="aliyun"
/ip/firewall/address-list/add list=cloud address=__GCP_SUPERNET__ comment="gcp"
/ip/firewall/address-list/add list=cloud address=__AZURE_SUPERNET__ comment="azure"

/ip/route/add dst-address=__AWS_SUPERNET__ gateway=__AWS_PRIVATE_IP__ comment="vpc supernet"

# 6. Mangle (MSS Clamping) & NAT
/ip/firewall/mangle/add chain=forward action=change-mss new-mss=__TUNNEL_MSS__ passthrough=yes tcp-flags=syn protocol=tcp tcp-mss=1361-65535 comment="clamp MSS for tunnel traffic"
/ip/firewall/nat/add chain=srcnat action=masquerade dst-address-list=!cloud out-interface=ether1 comment="NAT private subnet to the internet, never to the peer"

# 7. Routing Filter Rules (Distance 20 for direct, Distance 30 for transit)
/routing/filter/rule/add chain=ali-out rule="if (dst in __AWS_SUPERNET__ || dst in __GCP_SUPERNET__ || dst in __AZURE_SUPERNET__) { accept } reject"
/routing/filter/rule/add chain=gcp-out rule="if (dst in __AWS_SUPERNET__ || dst in __ALI_SUPERNET__ || dst in __AZURE_SUPERNET__) { accept } reject"
/routing/filter/rule/add chain=azure-out rule="if (dst in __AWS_SUPERNET__ || dst in __ALI_SUPERNET__ || dst in __GCP_SUPERNET__) { accept } reject"

/routing/filter/rule/add chain=ali-in rule="if (dst == 0.0.0.0/0 || dst in __ALI_PUBLIC_IP__/32 || dst in __AWS_ALI_TUNNEL_NETWORK__/30) { reject } else { if (dst in __ALI_SUPERNET__) { set distance 20; accept } else { if (dst in __GCP_SUPERNET__ || dst in __AZURE_SUPERNET__) { set distance 30; accept } reject } }"
/routing/filter/rule/add chain=gcp-in rule="if (dst == 0.0.0.0/0 || dst in __GCP_PUBLIC_IP__/32 || dst in __AWS_GCP_TUNNEL_NETWORK__/30) { reject } else { if (dst in __GCP_SUPERNET__) { set distance 20; accept } else { if (dst in __ALI_SUPERNET__ || dst in __AZURE_SUPERNET__) { set distance 30; accept } reject } }"
/routing/filter/rule/add chain=azure-in rule="if (dst == 0.0.0.0/0 || dst in __AZURE_PUBLIC_IP__/32 || dst in __AWS_AZURE_TUNNEL_NETWORK__/30) { reject } else { if (dst in __AZURE_SUPERNET__) { set distance 20; accept } else { if (dst in __ALI_SUPERNET__ || dst in __GCP_SUPERNET__) { set distance 30; accept } reject } }"

# 8. Dynamic eBGP Configuration
/routing/bgp/instance/add name=ali as=__AWS_ASN__ router-id=__AWS_PEERING_IP__
/routing/bgp/template/add name=ali as=__AWS_ASN__
/routing/bgp/connection/add name=chr-ali instance=ali remote.address=__AWS_ALI_TUNNEL_ALI_IP__/32 .as=__ALI_ASN__ local.address=__AWS_ALI_TUNNEL_AWS_IP__ .role=ebgp routing-table=main templates=ali as=__AWS_ASN__ output.network=aws-advertise output.filter-chain=ali-out input.filter=ali-in output.redistribute=bgp

/routing/bgp/instance/add name=gcp as=__AWS_ASN__ router-id=__AWS_PEERING_IP__
/routing/bgp/template/add name=gcp as=__AWS_ASN__
/routing/bgp/connection/add name=chr-gcp instance=gcp remote.address=__AWS_GCP_TUNNEL_GCP_IP__/32 .as=__GCP_ASN__ local.address=__AWS_GCP_TUNNEL_AWS_IP__ .role=ebgp routing-table=main templates=gcp as=__AWS_ASN__ output.network=aws-advertise output.filter-chain=gcp-out input.filter=gcp-in output.redistribute=bgp

/routing/bgp/instance/add name=azure as=__AWS_ASN__ router-id=__AWS_PEERING_IP__
/routing/bgp/template/add name=azure as=__AWS_ASN__
/routing/bgp/connection/add name=chr-azure instance=azure remote.address=__AWS_AZURE_TUNNEL_AZURE_IP__/32 .as=__AZURE_ASN__ local.address=__AWS_AZURE_TUNNEL_AWS_IP__ .role=ebgp routing-table=main templates=azure as=__AWS_ASN__ output.network=aws-advertise output.filter-chain=azure-out input.filter=azure-in output.redistribute=bgp
