profile            = "default"
region             = "ap-southeast-5"
zone_id            = "ap-southeast-5a"
resource_group_id  = "rg-aek3jxlnulgvj3i"
vpc_id             = "vpc-k1ap3ij7ik4wgypdc1s5g"
peering_vswitch_id = "vsw-k1agelkxe91ul5aj95i9p"
private_vswitch_id = "vsw-k1as2atxwl1v5ls0bsgs3"
instance_name      = "chr-peering"
image_id           = "m-k1aaa7o07ybfhrzg687t"
instance_type      = "ecs.t6-c1m1.large"
peering_private_ip = "10.151.127.250"
private_eni_ip     = "10.151.74.100"
admin_ip_cidr      = "103.94.10.189/32"
eip_bandwidth      = "100"
